CompileFlags:
  Add:
  - -std=c++14
  - -xc++
Diagnostics:
  ClangTidy:
    Add:
    - bugprone-*
    - modernize-*
    - performance-*
    Remove:
    - bugprone-easily-swappable-parameters
    - modernize-use-default-member-init
    - modernize-use-trailing-return-type
  Suppress:
  - c++17-extensions
  - unqualified-std-cast-call
